@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h1>You are in Views/Clients/Details.cshtml</h1>

<h4>Client Details</h4>
<hr/>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<p>@Html.ActionLink("Back to Clients", "Index")</p>
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>