@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h1>Stylist @Html.DisplayFor(model => model.Name)</h1>

@if (@Model.Clients.Count == 0)
{
  <h3>There are no clients at this time</h3>
}

<table class="redTable">
  <thead>
    <tr>
      <th>Client List</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="3">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
      </td>
    </tr>
  </tfoot>
  <tbody>
    @foreach (Client client in @Model.Clients)
    {
      <tr>
        <td>@client.Name</td>
      </tr>
    }  
  </tbody>
</table>  

<p>@Html.ActionLink("Add a new Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
