@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h1>You are in the Views/Stylists/Edit.cshtml</h1>

<h4>Edit</h4>

<h4>Edit this Stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.StylistId)
  @Html.EditorFor(model => model.StylistId)

  <input type="submit" value="Save" /> 
}

@Html.ActionLink("Back to Stylists", "Index")

